<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
  </ol>
  <div class="carousel-inner">

    <h1 style="text-align:center">For all the nostalgics</h1>

    <%# Carousel first slide %>
    <div class="carousel-item active">
      <% videocassette_one = VideoCassette.find_by(title: "Home Alone") %>
      <a href="/video_cassettes/<%= videocassette_one.id%>">
        <img class="d-block w-100" src="https://prod-ripcut-delivery.disney-plus.net/v1/variant/disney/506D83A33C4180C84FCA419B3C4F20307FE3DE355C277E56735C7C8243C96C18/scale?aspectRatio=1.78&format=jpeg" alt="First slide" style="height: 450px; object-fit:cover;">

          <div class="carousel-caption d-none d-md-block">
            <h5>Home Alone (1990)</h5>
            <p>An eight-year-old troublemaker must protect his house from a pair of burglars when he is accidentally left home alone by his family during Christmas vacation.</p>
          </div>
      </a>
    </div>

    <%# Carousel second slide %>
    <div class="carousel-item">
      <% videocassette_two = VideoCassette.find_by(title: "Cheaper by the Dozen") %>
      <a href="/video_cassettes/<%= videocassette_two.id%>">
      <img class="d-block w-100" src="https://www.pluggedin.com/wp-content/uploads/2019/12/cheaper-by-the-dozen.jpg" alt="Second slide" style="height: 450px; object-fit:cover;">

        <div class="carousel-caption d-none d-md-block">
          <h5>Cheaper by the Dozen (2003)</h5>
          <p>With his wife doing a book tour, a father of twelve must handle a new job and his unstable brood.</p>
        </div>
      </a>
    </div>

    <%# Carousel third slide %>
    <div class="carousel-item">
      <% videocassette_three = VideoCassette.find_by(title: "Mrs. Doubtfire") %>
      <a href="/video_cassettes/<%= videocassette_three.id%>">
      <img class="d-block w-100" src="https://img2.thejournal.ie/inline/2595365/original/?width=630&version=2595365" alt="Third slide" style="height: 450px; object-fit:cover;">
        <div class="carousel-caption d-none d-md-block">
          <h5>Mrs. Doubtfire (1993)</h5>
          <p>After a bitter divorce, an actor disguises himself as a female housekeeper to spend time with his children held in custody by his former wife.</p>
        </div>
      </a>
    </div>

    <%# Carousel fourth slide %>
    <div class="carousel-item">
      <% videocassette_four = VideoCassette.find_by(title: "Pulp Fiction") %>
      <a href="/video_cassettes/<%= videocassette_four.id%>">
      <img class="d-block w-100" src="https://i.pinimg.com/originals/8b/ff/32/8bff32b6ba9135f2286ce76af3ec9132.png" alt="Fourth slide" style="height: 450px; object-fit:cover;">
        <div class="carousel-caption d-none d-md-block">
          <h5>Pulp Fiction (1994)</h5>
          <p>The lives of two mob hitmen, a boxer, a gangster and his wife, and a pair of diner bandits intertwine in four tales of violence and redemption.</p>
        </div>
      </a>
    </div>

    <%# Carousel fifth slide %>
    <div class="carousel-item">
      <% videocassette_five = VideoCassette.find_by(title: "The Godfather") %>
      <a href="/video_cassettes/<%= videocassette_five.id%>">
      <img class="d-block w-100" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRmUJxu9DiA2zfZm_9zz5Ag3T-0Is2UC0_1MWU0FB5YL9UXmjdB&usqp=CAU" alt="Fifth slide" style="height: 450px; object-fit:cover;">
        <div class="carousel-caption d-none d-md-block">
          <h5>The Godfather (1972)</h5>
          <p>The aging patriarch of an organized crime dynasty transfers control of his clandestine empire to his reluctant son.</p>
        </div>
      </a>
    </div>

  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
