<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
  </ol>
  <div class="carousel-inner">

    <h1 style="text-align:center">For all the nostalgics</h1>

    <%# Carousel first slide %>
    <div class="carousel-item active">
      <% videocassette_one = VideoCassette.find_by(title: "Home Alone") %>
      <a href="/video_cassettes/<%= videocassette_one.id%>">
        <img class="d-block w-100" src="https://prod-ripcut-delivery.disney-plus.net/v1/variant/disney/506D83A33C4180C84FCA419B3C4F20307FE3DE355C277E56735C7C8243C96C18/scale?aspectRatio=1.78&format=jpeg" alt="First slide" style="height: 450px; object-fit:cover;">

          <div class="carousel-caption d-none d-md-block">
            <h5>Home Alone (1990)</h5>
            <p>An eight-year-old troublemaker must protect his house from a pair of burglars when he is accidentally left home alone by his family during Christmas vacation.</p>
          </div>
      </a>
    </div>

    <%# Carousel second slide %>
    <div class="carousel-item">
      <% videocassette_two = VideoCassette.find_by(title: "Jumanji") %>
      <a href="/video_cassettes/<%= videocassette_two.id%>">
      <img class="d-block w-100" src="https://cdn.vox-cdn.com/thumbor/gG_i5NKGJwGObShc3AFxHFDNR6k=/0x0:1920x1080/1600x900/cdn.vox-cdn.com/uploads/chorus_image/image/49379923/jumanji.0.0.jpg" alt="Second slide" style="height: 450px; object-fit:cover;">

        <div class="carousel-caption d-none d-md-block">
          <h5>Jumanji (1995)</h5>
          <p>When two kids find and play a magical board game, they release a man trapped in it for decades - and a host of dangers that can only be stopped by finishing the game.</p>
        </div>
      </a>
    </div>

    <%# Carousel third slide %>
    <div class="carousel-item">
      <% videocassette_three = VideoCassette.find_by(title: "Fight Club") %>
      <a href="/video_cassettes/<%= videocassette_three.id%>">
      <img class="d-block w-100" src="https://highdefdiscnews.com/wp-content/uploads/2018/09/fight_club_18.png" alt="Third slide" style="height: 450px; object-fit:cover;">
        <div class="carousel-caption d-none d-md-block">
          <h5>Fight Club (1999)</h5>
          <p>An insomniac office worker and a devil-may-care soapmaker form an underground fight club that evolves into something much, much more.</p>
        </div>
      </a>
    </div>

    <%# Carousel fourth slide %>
    <div class="carousel-item">
      <% videocassette_four = VideoCassette.find_by(title: "Pulp Fiction") %>
      <a href="/video_cassettes/<%= videocassette_four.id%>">
      <img class="d-block w-100" src="https://i.pinimg.com/originals/8b/ff/32/8bff32b6ba9135f2286ce76af3ec9132.png" alt="Fourth slide" style="height: 450px; object-fit:cover;">
        <div class="carousel-caption d-none d-md-block">
          <h5>Pulp Fiction (1994)</h5>
          <p>The lives of two mob hitmen, a boxer, a gangster and his wife, and a pair of diner bandits intertwine in four tales of violence and redemption.</p>
        </div>
      </a>
    </div>

    <%# Carousel fifth slide %>
    <div class="carousel-item">
      <% videocassette_five = VideoCassette.find_by(title: "The Notebook") %>
      <a href="/video_cassettes/<%= videocassette_five.id%>">
      <img class="d-block w-100" src="https://imgix.bustle.com/uploads/image/2018/5/9/12ab3a43-bad3-4126-b91e-25de8a2e721b-notebook.jpg?w=970&h=546&fit=crop&crop=faces&auto=format%2Ccompress&cs=srgb&q=70" alt="Fifth slide" style="height: 450px; object-fit:cover;">
        <div class="carousel-caption d-none d-md-block">
          <h5>The Notebook (2004)</h5>
          <p>A poor yet passionate young man falls in love with a rich young woman, giving her a sense of freedom, but they are soon separated because of their social differences.</p>
        </div>
      </a>
    </div>

  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
