<% @video_cassettes = VideoCassette.all %>
<% @video_cassettes.last(10).each do |video_cassette| %>
    <div class="card-small mx-2 homepage-card">
      <a href=<%= video_cassette_path(video_cassette) %>>
        <img class="cover-img" src="<%=video_cassette.cover_photo%>" alt="VHS cover">
      </a>

      <div class="card-small-info">
        <h5><strong><%= link_to video_cassette.title, video_cassette_path(video_cassette)%></strong></h5>
        <p><%= video_cassette.year %></p> <p><%= video_cassette.price %>.00$</p>
        <img src="<%=video_cassette.user.avatar%>" alt="User profile pic">
      </div>

    </div>
<% end %>