<h1>My Wishlist</h1>

<p><%= link_to "Back to Profile", user_path(current_user) %></p>

<% @video_ids.each do |video| %>
  <li>
    <%= image_tag(video.cover_photo) %>
    <%= User.find(video.user_id).first_name %>
    <%= image_tag(User.find(video.user_id).avatar) %>
    <%= video.title %>
    <%= video.year %>
  </li>
<% end %>

<br>
<br>

<%= current_user.id %>
