<!DOCTYPE html>
<html>
  <head>
    <title>Blockwagon</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:title" content="BlockWagon - Video Cassette Rentals" />
    <meta property="og:type" content="video.movie" />
    <meta property="og:description" 
          content="Video cassette rental platform - Join and unleash the retro magic !" />
    <meta property="og:url" content="https://blockwagon.herokuapp.com/" />
    <meta property="og:image" content="https://cdn3.iconfinder.com/data/icons/luchesa-vol-9/128/Cassette-512.png" />
    
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <%# <link rel="stylesheet" href="node_modules/select2/dist/css/select2.css"> %>
  </head>

  <body>
    <%= render 'shared/flashes' %>

    <% if user_signed_in? %>
      <%= render 'shared/navbar_user' %>
    <% else %>
      <%= render 'shared/navbar_signin_signup' %>
    <% end %>
      <div class="page-layout">
        <%= yield %>
      </div>
    <footer>
      <div class="footer">
        <div>
          <p>© 2020 BlockWagon</p>
        </div>
        <div class="footer-links">
          <a href="#"><i class="fab fa-facebook-square"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
        </div>
      </div>
    </footer>
  </body>
</html>
